@model IEnumerable<ManagerCoffeeShopASPNet.ReceiptDetail>
@using NonFactors.Mvc.Grid
@using ManagerCoffeeShopASPNet.Class
@{
    ViewBag.Title = "GetReceiptDetailByReceiptID";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; padding:5px;">CHI TIẾT PHIẾU NHẬP</h2>
<div style="padding-bottom:5px;">
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            ConvertReceipt o = new ConvertReceipt();
            //column.Add(m => m.ReceiptID).Titled("Mã phiếu nhập").Filterable(false);
            column.Add(m => m.Ingredient.Name).Titled("Tên NVL");
            column.Add(m => m.Gift.Name).Titled("Tên quà");
            column.Add(m => m.Facility.Name).Titled("Tên CSVC");
            column.Add(m => m.Supplier.Name).Titled("Tên NCC");
            column.Add(m => m.ReferenceDesc).Titled("Ghi chú").Sortable(false);
            column.Add(m => m.Amount).Titled("Số lượng nhập").Filterable(false);
            column.Add(m => m.Unit).Titled("Đơn vị tính").Filterable(false);
            column.Add(m => m.UnitPrice).Titled("Đơn giá").Filterable(false);
            //column.Add(m => m.Currency).Titled("Đơn vị tiền").Sortable(false).Filterable(false);
            column.Add(m =>o.ConvertStatus(m.Status).ToString()).Titled("Trạng thái").Filterable(false);
            column.Add(m => m.ReceiptDetailID).Encoded(false).RenderedAs(m => (
                @Html.ActionLink("Xác nhận", "Confirm", new { ReceiptDetailID = m.ReceiptDetailID }, new { @class = "btn btn-sm btn-outline-success" }).ToHtmlString()
                + " " + @Html.ActionLink("Hủy", "Cancel", new { ReceiptDetailID = m.ReceiptDetailID }, new { @class = "btn btn-sm btn-outline-danger" }).ToHtmlString()
            )).Filterable(false).Sortable(false);
        })
        .Sortable()
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 4;
        })
    )
</div>
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Trở về", "GetAllReceiptWaitToConfirm", "Accountant")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Hoàn tất", "ConfirmAll", new { ReceiptID = ViewData["ReceiptID"], View = "GetReceiptDetailByReceiptID" }, new { @class = "btn btn-sm btn-outline-info" })
    </div>
</div>