@using NonFactors.Mvc.Grid
@model IEnumerable<ReceiptDetail>
@{
    ViewBag.Title = "DetailReceipt";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;padding:10px">CHI TIẾT PHIẾU NHẬP</h2>
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}
<div style="padding-bottom:10px">
    @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.ReceiptID).Titled("Mã phiếu nhập");
                columns.Add(model => model.Ingredient.Name).Titled("Tên nguyên vật liệu");
                columns.Add(model => model.Gift.Name).Titled("Tên quà tặng");
                columns.Add(model => model.Facility.Name).Titled("Tên CSVC");
                columns.Add(model => model.Supplier.Name).Titled("Tên nhà cung cấp");
                columns.Add(model => model.ReferenceDesc).Titled("Ghi chú thêm");
                columns.Add(model => model.Amount).Titled("Số lượng");
                columns.Add(model => model.Unit).Titled("Đơn vị tính");
                columns.Add(model => model.UnitPrice).Titled("Đơn giá");
                columns.Add(model => model.Status).Css("Status");
            }).Filterable()
    )
</div>
<div class="Status">
    @ViewData["StatusReceipt"]
</div>
<div class="row test">
    <div class="col-md-8">
        @Html.ActionLink("Trở về", "GetAllReceipt", "Warehouse", new { @class = "btn btn-outline-primary btn-sm" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Nhập xong", "ClosedReceipt", "Warehouse", new { ReceiptID = ViewData["ReceiptID"] }, new { @class = "btn btn-sm btn-outline-success btnNhapXong" })
    </div>
</div>

<style>
    .Status {
        display: none;
    }
</style>

<script>
    $(document).ready(function () {
        var status = $("div.Status").text().trim();
        console.log(status);
        if (status == "Closed") {
            $("div.test div.col-md-4 a.btnNhapXong").removeAttr("href").attr("class", "btn btn-light btn-sm")
        }
    })
</script>