@model ManagerCoffeeShopASPNet.Supplier

@{
    ViewBag.Title = "EditSupplier";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">CHỈNH SỬA THÔNG TIN NHÀ CUNG CẤP</h2>

@using (Html.BeginForm("DoEditSupplier", "Warehouse"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Supplier</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SupplierID)

        <div class="form-group">
            @Html.Label("Tên NCC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-9">
                    @Html.ActionLink("Trở về", "GetAllSupplier", "Warehouse", new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Lưu" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
}


