@model ManagerCoffeeShopASPNet.FoodAndDrink

@{
    ViewBag.Title = "DeleteFoodAndDrink";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">XÓA ĐỒ UỐNG</h2>
<br />
<h3>Bạn có chắc muốn xóa?</h3>
<div>
@*    <h4>FoodAndDrink</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên đồ uống")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Mô tả")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayName("Ảnh minh họa")
        </dt>

        <dd>
            <img src="@Model.ImagePath" />
        </dd>

        <dt>
            @Html.DisplayName("Kích thước")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayName("Loại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayName("Giá")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayName("Đơn vị tiền")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color row">
            <div class="col-md-9">
                @Html.ActionLink("Trở về", "GetAllFoodAndDrink", "Batender", new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-3">
                @Html.ActionLink("Xóa", "DoDeleteFoodAndDrink", "Batender", new { FDID = Model.FDID }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
