@using NonFactors.Mvc.Grid;
@using ManagerCoffeeShopASPNet.Class
@model IEnumerable<FoodAndDrink>

@{
    ViewBag.Title = "GetAllFoodAndDrink";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; padding-top:10px; padding-bottom:5px;">DANH SÁCH ĐỒ UỐNG</h2>

<div class="row" style="padding-bottom:10px;">
    <div class="col-sm-6">@Html.ActionLink("Thêm đồ uống", "GetFormAddNewFoodAndDrink", "Batender", new { @class = "btn btn-sm btn-primary" })</div>
    <div class="col-sm-6">
        @using(Html.BeginForm("Batender", "GetAllFoodAndDrink", FormMethod.Get))
        {
            @Html.TextBox("Search")
            <button type="submit" class="btn btn-sm btn-outline-secondary">Tìm kiếm</button>
        }
    </div>
</div>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        ConvertFoodAndDrink o = new ConvertFoodAndDrink();
        //columns.Add(m => m.FDID).Titled("Mã đồ uống");
        columns.Add(m => m.Name).Titled("Tên đồ uống");
        //columns.Add(m => m.Desc).Titled("Mô tả");
        columns.Add(m => o.ConvertSize(m.Size).ToString()).Titled("Kích thước");
        columns.Add(m => o.ConvertType(m.Type).ToString()).Titled("Loại");
        columns.Add(m => m.UnitPrice).Titled("Giá");
        columns.Add(m => m.Currency).Titled("Đơn vị tiền");
        columns.Add(m => m.FDID).Encoded(false).RenderedAs(m => (
              @Html.ActionLink("Sửa", "EditFoodAndDrink", "Batender", new { FDID = m.FDID }, new { @class = "btn btn-sm btn-primary" }).ToHtmlString()
              + " " + @Html.ActionLink("Xóa", "DeleteFoodAndDrink", "Batender", new { FDID = m.FDID }, new { @class = "btn btn-sm btn-danger" }).ToHtmlString()
              + " " + @Html.ActionLink("Xem công thức pha chế", "ReadRecipe", "Batender", new { FDID = m.FDID }, new { @class = "btn btn-sm btn-info" }).ToHtmlString()
        ));
    })
    .Empty("Không có dữ liệu.")
    .Pageable(pager =>
    {
        pager.RowsPerPage = 6;
    })
)