@model List<ManagerCoffeeShopASPNet.Areas.Admin.Models.OrderItemGroupByFoodAndDrink>

@{
    ViewBag.Title = "GetListOrderItemGroupByFoodAndDrink";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<table class="table table-striped">
    <tr>
        <th>Tên đồ uống</th>
        <th>Số lượng</th>
        <th>Chi tiết</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FoodAndDrink.FDID && @item.FoodAndDrink.Name</td>
            <td>@item.Quantity</td>
            <td>
                @foreach (var orderItem in item.OrderItems)
                {
                    <table class="table">
                        <tr>
                            <td>Vị trí :@orderItem.OrderItemID</td>
                            <td>Desc : @orderItem.Desc</td>
                            <td>Thời gian chờ : @DateTime.Now.Subtract(orderItem.Order.OrderDateTime).TotalMinutes</td>
                            <td>Số lượng : @orderItem.Quantity</td>
                            <td>
                                @Html.ActionLink("Xong", "UpdateReady", "Batender", new { OrderItemID = orderItem.OrderItemID, OrderID = orderItem.OrderID, view = "GetListOrderItemGroupByFoodAndDrink" , NumOfOrderItem = 0 }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Hủy", "UpdateCancel", "Batender", new { OrderItemID = orderItem.OrderItemID, OrderID = orderItem.OrderID, view = "GetListOrderItemGroupByFoodAndDrink" , NumOfOrderItem = 0 }, new { @class = "btn btn-danger btnCancel" })
                            </td>
                        </tr>
                    </table>
                }
            </td>
            <td>
            @Html.ActionLink("Xem công thức pha chế", "ReadRecipe", "Batender", new { FDID = item.FoodAndDrink.FDID }, new { @class= "btn btn-info btnReadRecipe" })
            </td>
        </tr>
    }
</table>

