
@{
    ViewBag.Title = "ReadRecipe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;padding:10px">CÔNG THỨC PHA CHẾ</h2>


<div style="padding:5px">
    <p class="test">@ViewData["message"]</p>
    @{
        if (ViewData["recipe"] == null)
        {
            @Html.ActionLink("Thêm công thức", "CreateRecipe", "Batender", new { FDID = ViewData["FDID"] }, new { @class = "btn btn-primary" });
        }
        else
        {
            @Html.ActionLink("Thêm bước", "CreateRecipeDetail", "Batender", new { RecipeID = ViewData["RecipeID"] }, new { @class = "btn btn-primary addStep" })
        }
    }
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Bước</td>
            <td>Mô tả</td>
            <td>Lưu ý</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewData["recipe"] != null && ((IEnumerable<RecipeDetail>)ViewData["recipeDetails"]).Count<RecipeDetail>() != 0)
            {
                foreach (RecipeDetail item in (IEnumerable<RecipeDetail>)ViewData["recipeDetails"])
                {
                    <tr>
                        <td>@item.Step </td>
                        <td>
                            @item.Amount @item.Unit @item.Ingredient.Name<br />
                        </td>
                        <td>@item.Desc</td>
                        <td>
                            @Html.ActionLink("Sửa", "EditRecipeDetail", new { RecipeDetailID = item.RecipeDetailID }, new { @class = "btn btn-sm btn-outline-primary" })
                            @Html.ActionLink("Xóa", "DeleteRecipeDetail", new { RecipeDetailID = item.RecipeDetailID }, new { @class = "btn btn-sm btn-outline-danger" })
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>

<div style="padding:10px">
    @Html.ActionLink("Trở về", "GetAllFoodAndDrink")
</div>

