
@{
    ViewBag.Title = "ReadRecipe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">CÔNG THỨC PHA CHẾ</h2>
@*<hr />*@
<div>
    @Html.ActionLink("Thêm bước", "CreateRecipeDetail", "Batender", new { RecipeID = ViewData["RecipeID"] }, new { @class = "btn btn-primary" })
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <td>Bước</td>
            <td>Mô tả</td>
            <td>Lưu ý</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>@ViewData["message"]</tr>
        @{
            if (ViewData["recipe"] != null && ((IEnumerable<RecipeDetail>) ViewData["recipeDetails"]).Count<RecipeDetail>() !=0)
            {
                foreach (RecipeDetail item in (IEnumerable<RecipeDetail>)ViewData["recipeDetails"])
                {
                    <tr>
                        <td>@item.Step </td>
                        <td>
                            @item.Amount @item.Unit @item.Ingredient.Name<br />
                        </td>
                        <td>@item.Desc</td>
                        <td>
                            @Html.ActionLink("Sửa", "EditRecipeDetail", new { RecipeDetailID = item.RecipeDetailID }, new { @class = "btn btn-sm btn-outline-primary" })
                            @Html.ActionLink("Xóa", "DeleteRecipeDetail", new { RecipeDetailID = item.RecipeDetailID }, new { @class = "btn btn-sm btn-outline-danger" })
                        </td>
                    </tr>
                }
            }
            else
            {
                @Html.ActionLink("Thêm công thức","CreateRecipe", "Batender", new { FDID = ViewData["FDID"] }, new { @class="btn btn-primary" });
            }
        }
        
    </tbody>
</table>

<div>
    @Html.ActionLink("Trở về", "GetAllFoodAndDrink")
</div>