
@{
    ViewBag.Title = "ReadRecipe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    @Html.ActionLink("Thêm bước", "CreateRecipeDetail", "Batender", new { RecipeID = ViewData["RecipeID"] }, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Bước</td>
            <td>Mô tả</td>
            <td>Lưu ý</td>
        </tr>
    </thead>
    <tbody>
        <tr>@ViewData["message"]</tr>
        @{
            if (ViewData["recipe"] != null && ((IEnumerable<RecipeDetail>) ViewData["recipeDetails"]).Count<RecipeDetail>() !=0)
            {
                foreach (RecipeDetail item in (IEnumerable<RecipeDetail>)ViewData["recipeDetails"])
                {
                    <tr>
                        <td> Bước @item.Step </td>
                        <td>
                            @item.Amount @item.Ingredient.Name @item.Unit<br />
                        </td>
                        <td>Lưu ý : @item.Desc</td>
                    </tr>
                }
            }
            else
            {
                //new { FDID = ViewData["FDID"] }
                @Html.ActionLink("Thêm công thức","CreateRecipe", "Batender", new { FDID = ViewData["FDID"] }, new { @class="btn btn-primary" });
            }
        }
        
    </tbody>
</table>

