@model IEnumerable<ManagerCoffeeShopASPNet.RecipeDetail>

@{
    ViewBag.Title = "ShowAllRecipeDetailByRecipeID";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2>Hiển thị chi tiết các công thức pha chế</h2>

<p>
    @Html.ActionLink("Thêm bước", "CreateRecipeDetail", "Batender", new { RecipeID = ViewData["RecipeID"] }, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("RecID")
        </th>
        <th>
            @Html.DisplayName("Bước")
        </th>
        <th>
            @Html.DisplayName("Mã NVL")
        </th>
        <th>
            @Html.DisplayName("Số lượng")
        </th>
        <th>
            @Html.DisplayName("Đơn vị tính")
        </th>
        <th>
            @Html.DisplayName("Ghi chú")
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Step)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RecipeDetailID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RecipeDetailID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RecipeDetailID })
            </td>
        </tr>
    }
}
</table>
