@model IEnumerable<ManagerCoffeeShopASPNet.RecipeDetail>

@{
    ViewBag.Title = "ShowAllRecipeDetailByRecipeID";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 style="text-align:center">THÊM CÔNG THỨC PHA CHẾ</h2>

<div>
    @Html.ActionLink("Thêm bước", "CreateRecipeDetail", "Batender", new { RecipeID = ViewData["RecipeID"] }, new { @class="btn btn-primary" })
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("RecID")
        </th>
        <th>
            @Html.DisplayName("Bước")
        </th>
        <th>
            @Html.DisplayName("Tên NVL")
        </th>
        <th>
            @Html.DisplayName("Số lượng")
        </th>
        <th>
            @Html.DisplayName("Đơn vị tính")
        </th>
        <th>
            @Html.DisplayName("Ghi chú")
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Step)
            </td>
            <td>
                
                @ViewData["IngreID"]
                @*@Html.Display(ViewData["IngreID"].ToString())*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.ActionLink("Sửa", "EditRecipeDetail", new { RecipeDetailID = item.RecipeDetailID }, new { @class="btn btn-sm btn-outline-primary"})
                @Html.ActionLink("Xóa", "DeleteRecipeDetail", new { RecipeDetailID = item.RecipeDetailID }, new { @class = "btn btn-sm btn-outline-danger" })
            </td>
        </tr>
    }
}
</table>
<div>
    @Html.ActionLink("Trở về","GetAllFoodAndDrink")
</div>