@model ManagerCoffeeShopASPNet.Employee

@{
    ViewBag.Title = "DeleteEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">XÓA THÔNG TIN NHÂN VIÊN</h2>

<h3>Bạn có chắc muốn xóa?   </h3>
<div>
    @*<h4>Employee</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSID)
        </dd>

        <dt>
            @Html.DisplayName("Tên nhân viên")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayName("SĐT")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayName("Ngày sinh")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayName("Giới tính")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayName("Số CMND")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndentityNum)
        </dd>

        <dt>
            @Html.DisplayName("Trạng thái")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="row">
                <div class="col-md-8">
                    @Html.ActionLink("Trở lại", "DetailEmployee")
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Xóa", "DoDeleteEmployee", "Web", new { EmployeeID = Model.EmployeeID }, new { @class = "btn btn-primary btn-sm" })
                </div>
            </div>
        </div>
    }
</div>
