@model IEnumerable<Employee>
@using NonFactors.Mvc.Grid
@using ManagerCoffeeShopASPNet.Class
@{
    ViewBag.Title = "DetailEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;padding:10px;">THÔNG TIN CHI TIẾT CỦA NHÂN VIÊN</h2>

<div style="padding-bottom:10px">
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            ConvertStatusEmployee o = new ConvertStatusEmployee();
            column.Add(m => m.UserID).Titled("UserID");
            column.Add(m => m.CoffeeShop.Name).Titled("Chi nhánh làm việc");
            column.Add(m => m.Name).Titled("Tên nhân viên");
            column.Add(m => m.Address).Titled("Địa chỉ");
            column.Add(m => m.Email).Titled("Email");
            column.Add(m => m.Phone).Titled("SĐT");
            column.Add(m => m.DOB).Titled("Ngày sinh");
            column.Add(m => o.ConvertGender(m.Gender).ToString()).Titled("Giới tính");
            column.Add(m => m.IndentityNum).Titled("Số CMND");
            column.Add(m => o.ConvertStatus(m.Status).ToString()).Titled("Trạng thái");
        })
    )
</div>
<br />
<div class="row">
    <div class="col-md-9">
        @Html.ActionLink("Trở về", "GetAllEmployee")
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Sửa", "EditEmployee", "Web", new { EmployeeID = ViewData["EmployeeID"] }, new { @class = "btn btn-sm btn-outline-primary" })
        @if (ViewData["Status"].ToString() == "Layoff")
        {
            @Html.ActionLink("Xóa", "DeleteEmployee", "Web", new { EmployeeID = ViewData["EmployeeID"] }, new { @class = "btn btn-sm btn-outline-danger active" })
        }
        else
        {
            @Html.ActionLink("Xóa", "DeleteEmployee", "Web", new { EmployeeID = ViewData["EmployeeID"] }, new { @class = "btn btn-sm btn-outline-danger disabled" })
        }
    </div>
</div>
