@*@model ManagerCoffeeShopASPNet.Employee*@
@model IEnumerable<Employee>
@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "DetailEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">THÔNG TIN CHI TIẾT CỦA NHÂN VIÊN</h2>
<br />
<div>
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m => m.UserID).Titled("UserID");
            column.Add(m => m.CSID).Titled("CSID");
            column.Add(m => m.Name).Titled("Tên NV");
            column.Add(m => m.Address).Titled("Địa chỉ");
            column.Add(m => m.Email).Titled("Email");
            column.Add(m => m.Phone).Titled("SĐT");
            column.Add(m => m.DOB).Titled("Ngày sinh");
            column.Add(m => m.Gender).Titled("Giới tính");
            column.Add(m => m.IndentityNum).Titled("Số CMND");
            column.Add(m => m.Status).Titled("Trạng thái");
        })
    )
</div>
<br />
<div class="row">
    <div class="col-md-9">
        @Html.ActionLink("Trở về", "GetAllEmployee")
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Sửa", "EditEmployee", "Web", new { EmployeeID = ViewData["EmployeeID"] }, new { @class = "btn btn-sm btn-outline-primary" })
        @if (ViewData["Status"].ToString() == "Lay_off")
        {
            @Html.ActionLink("Xóa", "DeleteEmployee", "Web", new { EmployeeID = ViewData["EmployeeID"] }, new { @class = "btn btn-sm btn-outline-danger active" })
        }
        else
        {
            @Html.ActionLink("Xóa", "DeleteEmployee", "Web", new { EmployeeID = ViewData["EmployeeID"] }, new { @class = "btn btn-sm btn-outline-danger disabled" })
        }
    </div>
</div>
