@model IEnumerable<ManagerCoffeeShopASPNet.CoffeeShop>

@{
    ViewBag.Title = "GetAllCoffeeShop";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">DANH SÁCH QUÁN COFFEE</h2>

<div>
    @Html.ActionLink("Thêm quán mới", "GetAddNewCoffeeShop", "Web", new { @class="btn btn-sm btn-primary"})
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên quán Coffee")
        </th>
        <th>
            @Html.DisplayName("Địa chỉ")
        </th>
        <th>
            @Html.DisplayName("SĐT")
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Sửa", "EditCoffeeShop", new { CSID = item.CSID }, new { @class= "btn btn-sm btn-outline-primary" }) 
            @Html.ActionLink("Chi tiết", "DetailsCoffeeShop", new { CSID = item.CSID }, new { @class= "btn btn-sm btn-outline-info" })
            @Html.ActionLink("Xóa", "DeleteCoffeeShop", new { CSID = item.CSID }, new { @class= "btn btn-sm btn-outline-danger" })
        </td>
    </tr>
}

</table>
