@model IEnumerable<ManagerCoffeeShopASPNet.OrderItem>
@using NonFactors.Mvc.Grid
@using ManagerCoffeeShopASPNet.Class
@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;padding:10px">CHI TIẾT HÓA ĐƠN</h2>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FDID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FDID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Đã phục vụ", "UpdatedOrderItemClosed", "Service", new { OrderItemID = item.OrderItemID, OrderID = item.OrderID, View = "DetailOrder" }, new { @class="btn btn-success" })
        </td>
    </tr>
}

</table>*@

<div>
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            ConvertStatusOrder o = new ConvertStatusOrder();
            //column.Add(m => m.OrderID).Titled("Mã hóa đơn").Sortable(false);
            column.Add(m => m.FoodAndDrink.Name).Titled("Tên đồ uống");
            column.Add(m => m.Quantity).Titled("Số lượng");
            column.Add(m => m.Desc).Titled("Ghi chú").Filterable(false);
            column.Add(m =>o.ConvertStatus(m.Status).ToString()).Titled("Trạng thái").Filterable(false);
            column.Add(m => m.OrderItemID).Encoded(false).RenderedAs(m => (
                @Html.ActionLink("Đã phục vụ", "UpdatedOrderItemClosed", "Service", new { OrderItemID = m.OrderItemID, OrderID = m.OrderID, View = "DetailOrder" }, new { @class = "btn btn-sm btn-success" }).ToHtmlString()
            )).Filterable(false).Sortable(false).Titled("Action");
        })
        //.WithFilterMode(GridFilterMode.FilterRow)
        .Sortable()
        .Empty("Không có dữ liệu.")
        .Filterable()
    )
</div>