@model IEnumerable<ManagerCoffeeShopASPNet.OrderItem>
@using NonFactors.Mvc.Grid;

@{
    ViewBag.Title = "GetDetailOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">CHI TIẾT HÓA ĐƠN</h2>
<br />
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FDID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FDID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Đã phục vụ", "UpdateOrderItemClosed", "Service", new { OrderItemID = item.OrderItemID, OrderID = item.OrderID, View = "DetailOrder" }, new { @class = "btn btn-primary btnDetailOrder" })
        </td>
    </tr>
}

</table>*@
@(Html
        .Grid(Model).Build(columns =>
        {
            columns.Add(o => o.OrderID).Titled("Mã HĐ").Sortable(false);
            columns.Add(o => o.Order.Customer.Name).Titled("Tên KH").Sortable(false);
            columns.Add(o => o.Order.PosID).Titled("Vị trí").Sortable(false);
            columns.Add(o => o.Order.OrderDateTime).Titled("Thời gian vào");
            columns.Add(o => o.FoodAndDrink.Name).Titled("Tên đồ uống").Sortable(false);
            columns.Add(o => o.Quantity).Titled("Số lượng").Sortable(false);
            columns.Add(o => o.Desc).Titled("Ghi chú").Sortable(false);
            columns.Add(o => o.Status).Titled("Trạng thái").Sortable(false);
            columns.Add(o => o.OrderItemID).Encoded(false).RenderedAs(o => (
                Html.ActionLink("Đã phục vụ", "UpdateOrderItemClosed", "Service", new { OrderItemID = o.OrderItemID, OrderID = o.OrderID, View = "DetailOrderNeedSevice" }, new { @class = "btn btn-sm btn-primary btnDetailOrder" }).ToHtmlString()
            )).Filterable(false);
        })
        //.WithFilterMode(GridFilterMode.FilterRow)
        .Empty("Data is empty")
        .Filterable()
        .Sortable()
)
