
@{
    ViewBag.Title = "GetListOrderService";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GetListOrderService</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-sm-8">
        <table class="table">
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.CustomerID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PosID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaidDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiscountMoney)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Currency)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Desc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>*@
            </tr>

            @foreach (var item in (IEnumerable<Order>)ViewData["orders"])
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PosID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDateTime)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.PaidDateTime)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountMoney)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    @*<td>
                        @Html.ActionLink("Xem Chi tiết", "DetailOrder", "Service", new { id = item.OrderID }, new { @class = "btn btn-primary btnDetailOrder" })
                    </td>*@
                </tr>
            }

        </table>
    </div>
    <div class="col-sm-4">
        <table class="table">
            <tr>
                @*<th>
                        @Html.DisplayNameFor(orderItem => orderItem.OrderID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(orderItem => orderItem.FDID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(orderItem => orderItem.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(orderItem => orderItem.Desc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(orderItem => orderItem.Status)
                    </th>*@
                <th></th>
            </tr>
            @foreach (Order order in (IEnumerable<Order>)ViewData["orders"])
            {
                int OrderID = order.OrderID;
                foreach (OrderItem orderItem in (IEnumerable<OrderItem>)ViewData[OrderID.ToString()])
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(orderItemItem => orderItem.OrderID)
                        </td>*@
                        <td>
                            @Html.DisplayFor(orderItemItem => orderItem.FDID)
                        </td>
                        <td>
                            @Html.DisplayFor(orderItemItem => orderItem.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(orderItemItem => orderItem.Desc)
                        </td>
                        <td>
                            @Html.DisplayFor(orderItemItem => orderItem.Status)
                        </td>
                        @*<td>
                            @Html.ActionLink("Xem Chi tiết", "DetailOrder", "Service", new { OrderID = orderItem.OrderID }, new { @class = "btn btn-primary btnDetailOrder" })
                        </td>*@
                    </tr>
                }
            }
        </table>
    </div>
</div>

