@model IEnumerable<ManagerCoffeeShopASPNet.ShipDetail>

@{
    ViewBag.Title = "GetListShipDelivery";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GetListShipDelivery</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ShipDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShipDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShipDetailID })*@
            @Html.ActionLink("Confirm Deliveried", "ConfirmDeliveried", new { ShipDetailID=item.ShipDetailID}, new { @class="btn btn-outline-success"})
        </td>
    </tr>
}

</table>
