
@{
    ViewBag.Title = "ServiceEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        @using (Html.BeginForm("Service", "ServiceEmployee", FormMethod.Get))
        {
            @Html.TextBox("SearchString")
            <button type="submit">Search</button>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        @{
            IEnumerable<FoodAndDrink>
                fds = (IEnumerable<FoodAndDrink>
                    )ViewData["fds"];
            int n = fds.Count();
            int i = 0;
            while (i < n)
            {
                <div class="row">
                    @{
                        int k = 0;
                        while (k < 2 && i < n)
                        {
                            string strId = "fdrink01010100" + fds.ElementAt(i).FDID;
                            <div class="col-sm-6 fooddrinkgr" id="@strId">
                                <img class="image-fooddrink img-responsive" src="@fds.ElementAt(i).ImagePath" /><br />
                                <button class='btn btnPlus'><i class='fas fa-plus'></i></button>
                                <button class='btn btnMinus'><i class='fas fa-minus'></i></button>
                                <h3>@fds.ElementAt(i).Name</h3>
                                
                            </div>
                            i++;
                            k++;
                        }
                    }
                </div>
                        }
        }
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <select class="form-control" id="chooseService">
                    <option>Phục vụ tại quán</option>
                    <option>Mang về</option>
                    <option>Giao hàng</option>
                </select>
            </div>
            <div class="col-sm-6">
                <select class="form-control" id="choosePos">
                    @foreach (Position pos in (IEnumerable<Position>)ViewData["positions"])
                    {
                        <option>@pos.PosID</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <table class="table" id="order">
                <thead>
                    <tr>
                        <th>Tên món</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Yêu cầu thêm</th>
                    </tr>
                </thead>
                <tbody class="order">

                </tbody>
            </table>
        </div>
        <div class="row" style="float:right">
            <div class="btn btn-default" >
                <button type="submit" class="btn btn-primary" onclick="" id="btnSendToBatender">Gửi quầy pha chế</button>
            </div>
        </div>
    </div>
</div>

