@model IEnumerable<ManagerCoffeeShopASPNet.OrderItem>
@using ManagerCoffeeShopASPNet.Enum
@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "UpdateStatusOfOrderItemOnline";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 style="text-align:center; padding:10px;">CHI TIẾT DANH SÁCH CẦN XÁC NHẬN</h2>
<div >
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            //column.Add(m => m.OrderID).Titled("Mã hóa đơn").Sortable(false);
            column.Add(m => m.FoodAndDrink.Name).Titled("Tên đồ uống");
            column.Add(m => m.Quantity).Titled("Số lượng");
            column.Add(m => m.Desc).Titled("Ghi chú").Filterable(false);
            column.Add(m => m.Status).Titled("Trạng thái").Filterable(false);
            column.Add(m => m.OrderID).Encoded(false).RenderedAs(m => (
                @Html.ActionLink("Xác nhận", "Confirm", new { OrderItemID = m.OrderItemID }, new { @class = "btn btn-sm btn-outline-success" }).ToHtmlString()
                + " "+ @Html.ActionLink("Hủy", "Cancel", new { OrderItemID = m.OrderItemID }, new { @class = "btn btn-sm btn-outline-danger" }).ToHtmlString()
            )).Filterable(false).Sortable(false);
        })
        .Sortable()
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })
    )
</div>
<div class="row" style="padding-top:10px">
    <div class="col-md-9">
        @Html.ActionLink("Trở về", "GetAllOrderOnlineNeedConfirm", "Service")
    </div>
    <div class="col-md-3">
        <a class="btn btn-sm btn-outline-info" href="@Url.Action("ConfirmAll", "Service", new { OrderID = ViewData["OrderID"]})">Hoàn tất</a>
    </div>
</div>