@model ManagerCoffeeShopASPNet.Account
@using ManagerCoffeeShopASPNet.Class
@{
    ViewBag.Title = "ViewEmployeeAccount";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">THÔNG TIN TÀI KHOẢN</h2>
@{ 
    ConvertAccount o = new ConvertAccount();
    string acctype = o.ConvertAccType(Model.AccType).ToString();
    string position = o.ConvertPosition(Model.Position).ToString();
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Ảnh đại diện")
        </dt>

        <dd>
            <img src="@Url.Content(Model.Avatar)" alt="Sample Image" style="height:50px;width:100px;"/>
        </dd>
        <dt>
            @Html.DisplayName("Tên đăng nhập")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayName("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName("Kiểu tài khoản")
        </dt>

        <dd>
            @acctype
            @*@Html.DisplayFor(model => model.AccType)*@
        </dd>

        <dt>
            @Html.DisplayName("Vị trí làm việc")
        </dt>

        <dd>
            @position
            @*@Html.DisplayFor(model => model.Position)*@
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Trở về", "ServiceEmployee")
</p>
