@model IEnumerable<Gift>
@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "DeleteGift";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;padding:10px">XÓA THÔNG TIN QUÀ TẶNG</h2>

<h4 style="padding-bottom:5px">Bạn có chắc chắn muốn xóa?</h4>
<div>
    <hr />
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m => m.Supplier.Name).Titled("Tên NCC");
            column.Add(m => m.Name).Titled("Tên quà tặng").Sortable(false);
            column.Add(m => m.UnitPrice).Titled("Giá");
            column.Add(m => m.Currency).Titled("Đơn vị tiền");
            column.Add(m => m.Desc).Titled("Ghi chú").Filterable(false);
            //column.Add(m => m.GiftID).Encoded(false).RenderedAs(m => (
            //   @Html.ActionLink("Xóa", "DeleteGift", "DichVu", new { GiftID = m.GiftID }, new { @class = "btn btn-sm btn-outline-danger" }).ToHtmlString()
            //)).Filterable(false).Sortable(false).Titled("Action");
        })
        .Sortable()
        .Empty("Không có dữ liệu.")
        .Filterable()
    )

    @*@using (Html.BeginForm()) {*@
        @*@Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            <div class="row">
                <div class="col-md-9">
                    @Html.ActionLink("Trở về", "GetAllGift")
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("Xóa", "DoDeleteGift", "DichVu", new { GiftID = @ViewData["GiftID"] }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    @*}*@
</div>
