@model IEnumerable<ManagerCoffeeShopASPNet.Gift>
@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "GetAllGift";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    setTimeout(function () {
        location.reload();
    }, 10000);
</script>
<h2 style="text-align:center; padding:10px">DANH SÁCH QUÀ TẶNG</h2>

<div class="row" style="padding-bottom:10px;">
    <div class="col-sm-8">
        @Html.ActionLink("Thêm quà tặng", "GetFormAddNewGift", "DichVu", new { @class = "btn btn-primary" })
    </div>
    <div class="col-sm-4">
        @using (Html.BeginForm("DichVu", "GetAllGift", FormMethod.Get))
        {
            @Html.TextBox("Search")
            <button type="submit">Tìm kiếm</button>
        }
    </div>
</div>

<div>
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m => m.Supplier.Name).Titled("Tên NCC");
            column.Add(m => m.Name).Titled("Tên quà tặng").Sortable(false);
            column.Add(m => m.UnitPrice).Titled("Giá");
            column.Add(m => m.Currency).Titled("Đơn vị tiền");
            column.Add(m => m.Desc).Titled("Ghi chú").Filterable(false);
            column.Add(m => m.GiftID).Encoded(false).RenderedAs(m => (
                @Html.ActionLink("Sửa", "EditGift", "DichVu", new { GiftID = m.GiftID }, new { @class = "btn btn-sm btn-outline-info" }).ToHtmlString()
            //+ " " + @Html.ActionLink("Xóa", "DeleteGift", "DichVu", new { GiftID = m.GiftID }, new { @class = "btn btn-sm btn-outline-danger" }).ToHtmlString()
            )).Filterable(false).Sortable(false).Titled("Action");
        })
        .Sortable()
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })
    )
</div>