@model IEnumerable<Promotion>

@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "GetAllPromotion";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">DANH SÁCH KHUYẾN MÃI</h2>
<br />
<div class="row">
    <div class="col-sm-6">@Html.ActionLink("Thêm khuyến mãi", "GetFormAddNewPromotion", "DichVu", new { @class = "btn btn-primary" })</div>
    <div class="col-sm-6">
        @using (Html.BeginForm("DichVu", "GetAllPromotion", FormMethod.Get))
        {
            @Html.TextBox("Search")
            <button type="submit">Search</button>
        }
    </div>
</div>
<hr />
<div>
    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPromotion", "DichVu", new { PromotionID = item.PromotionID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>*@
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m => m.Name).Titled("Tên khuyến mãi").Sortable(false);
            column.Add(m => m.StartDate).Titled("Ngày bắt đầu");
            column.Add(m => m.EndDate).Titled("Ngày kết thúc");
            column.Add(m => m.Desc).Titled("Ghi chú").Filterable(false);
            column.Add(m => m.PromotionID).Encoded(false).RenderedAs(m => (
                @Html.ActionLink("Sửa", "EditPromotion", "DichVu", new { PromotionID = m.PromotionID }, new { @class = "btn btn-sm btn-primary" }).ToHtmlString()
            )).Filterable(false).Sortable(false).Titled("Action");
        })
        .WithFilterMode(GridFilterMode.FilterRow)
        .Sortable()
        .Empty("Data is empty")
        .Filterable()
    )
</div>

