@using ManagerCoffeeShopASPNet.Areas.Main.Models;

@{
    ViewBag.Title = "GioHang";
    Layout = null;
}

<link href="~/Assets/Main/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="~/Assets/Main/js/jquery-2.1.4.min.js"></script>
<script src="~/Assets/Main/js/bootstrap.min.js"></script>
<script src="~/Assets/Main/js/scriptLogin.js"></script>


<h2>@ViewBag.Title</h2>
@if (ViewData["carts"] == null)
{
    <p class="text-info text-center">
        Giỏ hàng của bạn rỗng!
    </p>
    <a class="btn btn-outline-dark" href="@Url.Action("Index", "Home")">Going Shopping</a>
}
else
{
    <div class="row">
        <div class="col-sm-12">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>FoodName</th>
                        <th>Quantity</th>
                        <th>UnitPrice</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    @{
                        int sum = 0;
                        int sumQuantity = 0;
                    }
                    @foreach (Cart item in (List<Cart>)ViewData["carts"])
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <form action="@Url.Action("EditQuantity")" method="get">
                                    <input type="hidden" name="FDID" value="@item.FDID" />
                                    <input type="number" min="1" step="1" name="soluongmoi" value="@item.Quantity" />
                                    <button type="submit" class="btn btn-success btn-sm"> Update </button>
                                </form>
                            </td>
                            <td> @item.Price</td>
                            <td> @item.Total</td>

                            <td> <a href="@Url.Action("DeleteFD", new { FDID = item.FDID })" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Delete</a> </td>
                        </tr>
                        sum = item.Total + sum;
                        sumQuantity = item.Quantity + sumQuantity;
                    }
                    <tr>
                        <td colspan="2" class="text-right">Total Quantity: @sumQuantity</td>
                        <td colspan="2" class="text-right">Total Amount: @sum VNĐ</td>
                        <td></td>
                    </tr>
                </table>
                <div style="margin-left:auto; margin-right:auto; width:200px">
                    @*<a class="btn btn-default paid" href="@Url.Action("Paid")">Paid</a>*@
                    <a class="btn btn-info" href="@Url.Action("Index", "Home")">Going Shopping</a>
                </div>

            </div>
        </div>

    </div>
                        }

