@using ManagerCoffeeShopASPNet.Areas.Main.Models;
@model ManagerCoffeeShopASPNet.Account
@{
    ViewBag.Title = "RedCaynne Re";
    Layout = null;
}

<link href="~/Assets/Main/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="~/Assets/Main/js/jquery-2.1.4.min.js"></script>
<script src="~/Assets/Main/js/bootstrap.min.js"></script>
<script src="~/Assets/Main/js/scriptLogin.js"></script>
<title>@ViewBag.Title</title>

@if (ViewData["carts"] == null)
{
    <h2><i class="fa fa-shopping-basket"></i>Thông tin giỏ hàng</h2>
    <p class="text-info text-center">
        Giỏ hàng của bạn rỗng!
    </p>
    <a class="btn btn-outline-dark" type="button" href="@Url.Action("Index", "Home")">Về trang chủ</a>
}
else
{
    <div class="row" style="margin-left: auto;margin-right: auto;">
        <div class="col-sm-8">
            <h2><i class="fa fa-shopping-basket"></i>Thông tin giỏ hàng</h2>
            <div class="table-responsive">
                <table class="table table-bordered" style="width:auto">
                    <thead>
                        <tr>
                            <th>Tên đồ uống</th>
                            <th>Số lượng</th>
                            <th>Yêu cầu thêm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sumTotal = 0;
                            int sumQuantity = 0;
                        }
                        @foreach (Cart item in (List<Cart>)ViewData["carts"])
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <form action="@Url.Action("EditQuantity")" method="get">
                                        <input type="hidden" name="FDID" value="@item.FDID" />
                                        <input type="number" min="1" step="1" name="soluongmoi" style="width:150px" value="@item.Quantity" />
                                        <button type="submit" class="btn btn-success btn-sm"> Cập nhật</button>
                                    </form>
                                </td>
                                <td><input type="text" name="desc" value="@item.Desc" class="DescFD"/></td>
                                <td> @item.Price</td>
                                <td> @item.Total</td>
                                <td> <a href="@Url.Action("DeleteFD", new { FDID = item.FDID })" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a> </td>
                            </tr>
                            sumTotal = item.Total + sumTotal;
                            sumQuantity = item.Quantity + sumQuantity;
                        }
                        <tr>
                            <td colspan="2" class="text-right">Tổng số lượng: @sumQuantity</td>
                            <td colspan="3" class="text-right">Tổng tiền: @sumTotal VNĐ</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4">
            <h2><i class="fa fa-truck"></i> Thông tin giao hàng</h2>
            @if(TempData["errorPay"] != null)
            {
                <div class="alert alert-danger">@TempData["errorPay"]</div>
            }
            <form class="needs-validation" novalidate>
                @if (ViewData["successUserID"] != null)
                {
                    <div class="form-group">
                        <input type="hidden" name="UserID" id="userID" value="@ViewData["successUserID"]" />
                        <label for="name">Tên</label>
                        @*<input type="text" class="form-control" id="name" placeholder="Enter your name" name="name" required>*@
                        @Html.TextBoxFor(model=>model.UserName, new { placeholder = "Nhập tên của bạn", required = "required", id = "name", @class ="form-control" })
                        @Html.ValidationMessageFor(model=>model.UserName, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="tel">Số điện thoại:</label>
                        <input type="tel" class="form-control" id="tel" placeholder="Nhập số điện thoại" name="tel" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        @*<input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" required>*@
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Enter Your Email", required = "required", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ" name="address" required>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input type="hidden" name="UserID" value="0" />
                        <label for="name">Tên</label>
                        <input type="text" class="form-control" id="name" placeholder="Nhập tên của bạn" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="tel">Số điện thoại:</label>
                        <input type="tel" class="form-control" id="tel" placeholder="Nhập số điện thoại" name="tel" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ:</label>
                        <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ của bạn" name="address" required>
                    </div>
                }
            </form>
        </div>
        <div style="margin-left:auto; margin-right:auto; width:250px">
            <a class="btn btn-info" href="@Url.Action("Index", "Home")">Tiếp tục mua sắm</a>
            <a class="btn btn-default" id="pay" @*href="@Url.Action("Pay", "Cart")"*@>Thanh toán</a>
        </div>
    </div>
}
