
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutService.cshtml";
}

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FDID }) |
                @Html.ActionLink("Details", "Details", new { id=item.FDID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FDID })
            </td>
        </tr>
    }
    
    </table>*@
<div class="row">
    <div class="col-sm-8">
        @{ 
            IEnumerable<FoodAndDrink> fds = (IEnumerable<FoodAndDrink>)ViewData["fds"];
            int n = fds.Count();
            int i = 0;
            while (i < n )
            {
                <div class="row">
                    @{
                        int k = 0;
                        while (k < 3 && i < n)
                        {
                            string strId = "fdrink01010100" + fds.ElementAt(i).FDID;
                            <div class="col-sm-4 fooddrinkgr" id="@strId">
                                <img class="image-fooddrink" src="@fds.ElementAt(i).ImagePath" />
                                <h3>@fds.ElementAt(i).Name</h3>
                            </div>
                            i++;
                            k++;
                        }
                    }
                </div>
            }
        }
    </div>
    <div class="col-sm-4">
        <table class="table" id="order">
           <thead>
               <tr>
                   <th>Tên món</th>
                   <th>Số lượng</th>
                   <th>Thành tiền</th>
               </tr>
           </thead>
            <tbody class="order">

            </tbody>
        </table>
        <div class="group-btn">
            <button type="submit" class="btn-lg btn-primary" onclick="">Gửi quầy pha chế</button>
            <button type="reset" class="btn-lg btn-danger">Xóa</button>
            <button type="submit" class="btn-lg btn-primary">Danh sách Order</button>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-8">

    </div>
    <div class="col-sm-4">
        
    </div>
</div>
