@model ManagerCoffeeShopASPNet.Account
@{ 
    ViewBag.Title = "DetailAccountCustomer";
    Layout = null;
}
<h2>@ViewBag.Title</h2>

<div>
    <h4>Account</h4>
    @*<hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Avatar)" style="height:50px; width:100px" />
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
